<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Advent+Pro:700,600,400,200,100' rel='stylesheet' type='text/css'> 
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'mejs-whatevery', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'wp_logo3.ico' %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %> 
</head>
<body>
  <div id="wrap">

    <%= render 'layouts/nav' %>

     <% if notice %>
       <div class="row">
         <div class="col-xs-12">
           <%= alert_box notice, dismissible: true, context: :success %> 
         </div>
       </div>
     <% end %> 
     <% if alert %> 
       <div class="row">
         <div class="col-xs-12">
           <%= alert_box alert, dismissible: true, context: :danger %> 
         </div>
       </div>
     <% end %> 
    
    <div class="postsep col-xs-12">
      <%= yield %>
    </div>
  </div> 

  <%= render 'layouts/footer' %>

  <script>
    $('audio,video').mediaelementplayer({
      success: function(player, node) {
        $('#' + node.id + '-mode').html('mode: ' + player.pluginType);
       },
       features: ['playpause', 'progress', 'current', 'duration', 'tracks', 'volume'],
       startLanuage: 'en',
       translationSelector: true,
       alwaysShowHours: true
     });
  </script>
</body>
</html>
